In [6]:
import pandas as pd
import numpy as np

# Loading up Country Code Dataset and Plastic Polition by Country.

In [67]:
code_df = pd.read_csv("codes.csv")
plastic_df = pd.read_csv ("plastic.csv")

code_df = code_df.rename(columns={code_df.columns[0]: 'Country'})

code_df

,Country,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

# Seeing sample data from datasets and their infomation.

In [18]:
plastic_df.head()

,Country,Total_Plastic_Waste_MT,Main_Sources,Recycling_Rate,Per_Capita_Waste_KG,Coastal_Waste_Risk
0,China,59.08,Packaging_Industrial,29.8,41.2,High
1,United States,42.02,Packaging_Consumer,32.1,127.5,Medium
2,India,26.33,Consumer_Goods,11.5,19.3,High
3,Japan,7.99,Packaging_Electronics,84.8,63.2,Medium
4,Germany,6.28,Automotive_Packaging,56.1,75.6,Low

In [53]:
plastic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 165 non-null    object
 1   Total_Plastic_Waste_MT  165 non-null    float64
 2   Main_Sources            165 non-null    object
 3   Recycling_Rate          165 non-null    float64
 4   Per_Capita_Waste_KG     165 non-null    float64
 5   Coastal_Waste_Risk      165 non-null    object
dtypes: float64(3), object(3)
memory usage: 7.9+ KB

In [55]:
code_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   249 non-null    object
 1   alpha-2                   248 non-null    object
 2   alpha-3                   249 non-null    object
 3   country-code              249 non-null    int64
 4   iso_3166-2                249 non-null    object
 5   region                    247 non-null    object
 6   sub-region                247 non-null    object
 7   intermediate-region       105 non-null    object
 8   region-code               247 non-null    float64
 9   sub-region-code           247 non-null    float64
 10  intermediate-region-code  105 non-null    float64
dtypes: float64(3), int64(1), object(7)
memory usage: 21.5+ KB

# Merging The Country Codes to their Repsected Countries.

In [113]:
plastic_waste = plastic_df.merge(code_df[['Country', 'alpha-3']], on='Country', how='left')

# Rename column for clarity (optional)
plastic_waste.rename(columns={'alpha-3': 'Country_Code'}, inplace=True)

# Display the updated DataFrame
plastic_waste.head()

,Country,Total_Plastic_Waste_MT,Main_Sources,Recycling_Rate,Per_Capita_Waste_KG,Coastal_Waste_Risk,Country_Code
0,China,59.08,Packaging_Industrial,29.8,41.2,High,CHN
1,United States,42.02,Packaging_Consumer,32.1,127.5,Medium,NaN
2,India,26.33,Consumer_Goods,11.5,19.3,High,IND
3,Japan,7.99,Packaging_Electronics,84.8,63.2,Medium,JPN
4,Germany,6.28,Automotive_Packaging,56.1,75.6,Low,DEU

# Since we have missing data based on the code , creatd a dict. of coutries codes that didn't contain their countries code and add it to it.

In [103]:
missing_codes = plastic_waste [plastic_waste ['Country_Code'].isna()]

# Display the countries with missing codes
print(missing_codes[['Country']])

                          Country
1                   United States
7                          Russia
8                  United Kingdom
13                         Turkey
14                    South Korea
16                        Vietnam
22                    Netherlands
36                 Czech Republic
69                        Bolivia
83                           Laos
87                          Syria
94                       Tanzania
111                    Cape Verde
117                   Ivory Coast
128             Republic of Congo
129  Democratic Republic of Congo
136                       Moldova
140                        Kosovo
150                        Brunei
151                    East Timor
161                    Micronesia

In [119]:
# Dictionary mapping missing countries to their correct ISO 3-letter codes
missing_country_codes = {
    "United States": "USA",
    "Russia": "RUS",
    "United Kingdom": "GBR",
    "Turkey": "TUR",
    "South Korea": "KOR",
    "Vietnam": "VNM",
    "Netherlands": "NLD",
    "Czech Republic": "CZE",
    "Bolivia": "BOL",
    "Laos": "LAO",
    "Syria": "SYR",
    "Tanzania": "TZA",
    "Cape Verde": "CPV",
    "Ivory Coast": "CIV",
    "Republic of Congo": "COG",
    "Democratic Republic of Congo": "COD",
    "Moldova": "MDA",
    "Kosovo": "XKX",
    "Brunei": "BRN",
    "East Timor": "TLS",
    "Micronesia": "FSM"
}

# Only update rows where 'Country_Code' is NaN
plastic_waste['Country_Code'] = plastic_waste.apply(
    lambda row: missing_country_codes[row['Country']] if pd.isna(row['Country_Code']) and row['Country'] in missing_country_codes else row['Country_Code'],
    axis=1
)


plastic_waste

,Country,Total_Plastic_Waste_MT,Main_Sources,Recycling_Rate,Per_Capita_Waste_KG,Coastal_Waste_Risk,Country_Code
0,China,59.08,Packaging_Industrial,29.8,41.2,High,CHN
1,United States,42.02,Packaging_Consumer,32.1,127.5,Medium,USA
2,India,26.33,Consumer_Goods,11.5,19.3,High,IND
3,Japan,7.99,Packaging_Electronics,84.8,63.2,Medium,JPN
4,Germany,6.28,Automotive_Packaging,56.1,75.6,Low,DEU
...,...,...,...,...,...,...,...
160,Marshall Islands,0.01,Consumer_Packaging,1.8,168.5,High,MHL
161,Micronesia,0.01,Consumer_Packaging,1.5,86.3,High,FSM
162,Palau,0.01,Consumer_Packaging,12.3,437.2,High,PLW
163,Tuvalu,0.01,Consumer_Packaging,1.2,833.3,High,TUV
164,Nauru,0.01,Consumer_Packaging,0.9,927.8,High,NRU

# Checking if all theres no missing data in the Country_Code columen

In [121]:
missing_codes = plastic_waste [plastic_waste ['Country_Code'].isna()]
print(missing_codes[['Country']])

Empty DataFrame
Columns: [Country]
Index: []

In [131]:
plastic_waste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              165 non-null    object
 1   Total_Waste          165 non-null    float64
 2   Main_Sources         165 non-null    object
 3   Recycling_Rate       165 non-null    float64
 4   Per_Capita_Waste_KG  165 non-null    float64
 5   Coastal_Waste_Risk   165 non-null    object
 6   Country_Code         165 non-null    object
dtypes: float64(3), object(4)
memory usage: 9.2+ KB

# Saving to new CSV file to send the data to the database

In [133]:
plastic_waste.rename(columns={'Total_Plastic_Waste_MT'	: 'Total_Waste'}, inplace=True)
plastic_waste.to_csv('water_super.csv', index=False)